<!--
// Copyright 2013-2018 Adam Presley. All rights reserved
// Use of this source code is governed by the MIT license
// that can be found in the LICENSE file.
-->
{{#if savedSearches.length}}
	<div class="alert alert-info" role="alert">
		Below are your saved searches. Here you can delete any searches that you no longer need.
	</div>

	{{#each savedSearches}}
		<div class="row">
			{{#each this}}
				<div class="col-md-6 col-sm-12">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h3 class="panel-title">{{name}}</h3>
						</div>
						<div class="panel-body">
							<em>Search criteria:</em>
							<br/>
							<br/>

							<strong>Subject/Message:</strong> {{searchMessage}}
							<br/>
							<strong>From:</strong> {{searchFrom}}
							<br />
							<strong>To:</strong> {{searchTo}}
							<br />
						</div>
						<div class="panel-footer">
							<button type="button" class="btn btn-danger btn-block deleteSavedSearch" data-index="{{@../index}}">Delete</button>
						</div>
					</div>
				</div>
			{{/each}}
		</div>
	{{/each}}
{{else}}
	<p>
		You currently do no have any saved searches.
	</p>
{{/if}}